<%# a av bar container with sign in and sign out  %>

<nav class="navbar">
    <div class="navbar-brand">
        <%= link_to root_path do %>
        <%= image_tag "https://previews.123rf.com/images/arcady31/arcady311210/arcady31121000076/15735373-members-only-stamp.jpg", class: "navbar-image" %>
        <% end %>
        <h1 class="title">MembersOnly</h1>
        <%# link all posts  %>
        
            <h2><%= link_to "Posts", posts_path%></h2>
    </div>



    <div class="navbar-end">
        <%= render 'user/session_manager' %>
    </div>
</nav>
